<iframe src="https://www.youtube.com/embed/eIl0QbO7GNM?autoplay=1&mute=1&loop=1&controls=0"></iframe>

// i-frame will be float on z-index due to postion absolute
// position-relative can make other elements not to hide behind the iframe content
<div class="movie position-relative">
  <div class="px-5 text-white">
    <h1>Animal</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quia fugit
      magni
      voluptate,
      aliquid
      obcaecati quas
      neque saepe id aperiam, maiores eligendi quis ullam velit illo temporibus exercitationem non labore asperiores.
    </p>
    <div>
      <button class="bg-white text-black py-2 px-3 rounded border-0">Play</button>
      &nbsp;
      <button class="bg-dark text-white py-2 px-3 rounded border-0">More info</button>
    </div>
  </div>
</div>