<app-swiper [title]="'Popular on Netflix'" [videoContents]="movies"></app-swiper>
<app-swiper [title]="'Popular Tv shows'" [videoContents]="tvShows"></app-swiper>
<app-swiper [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies"></app-swiper>
<app-swiper [title]="'Popular Movies'" [videoContents]="popularMovies"></app-swiper>
<app-swiper [title]="'Top rated movies'" [videoContents]="topRatedMovies"></app-swiper>
<app-swiper [title]="'Upcoming movies'" [videoContents]="upcomingMovies"></app-swiper>
